<%= render "recent" %>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 sidebar pt-3">
      <%= render "recent", comparisons: @recent_comparisons %>
    </nav>
    <div class="col-md-10 my-4">
      <%= render "recent" %>
      <%= yield %>
    </div>
  </div>
</div>

<%# <%= render "recent", comparisons: @recent_comparisons %>

<%# <% comparisons.each do |comp| %>
  <%= link_to comp.ai_result, comparison_path(comp) %>
<% end %> %>
