<% if user_signed_in? %>
<% Tmdb::Api.key(ENV["TMDB_API_KEY"])
RSpotify::authenticate(ENV["SPOTIFY_KEY"], ENV["SPOTIFY_SECRET"]) %>
<div class="d-flex justify_content-start mb-3">
  <%= link_to "Log out", destroy_user_session_path,
    class: "btn btn-secondary btn-lg px-4 py-2 shadow text-decoration-none",
    data: {turbo_method: :delete} %>
</div>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow p-4">
        <h3 class="text-center mb-4">New Comparison</h3>

        <%= simple_form_for @comparison do |f| %>

          <div class="mb-3">
            <%= f.input :content_a, as: :autocomplete, source: Tmdb::Movie.find('the godfather') %>
          </div>

          <div class="mb-3">
            <%=  f.input :content_b, as: :autocomplete, source: RSpotify::Track.search('kiss')
            %>
          </div>

          <div class="text-center mt-4">
            <%= f.submit "Compare", class: "btn btn-primary btn-lg" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
