<% if user_signed_in? %>
<div class="d-flex justify-content-end mb-3">
  <%= link_to "Log out", destroy_user_session_path,
    class: "btn btn-outline-secondary btn-lg px-4 py-2 shadow text-decoration-none",
    data: {turbo_method: :delete} %>
</div>
<% end %>

<div class="layout-wrapper">
  <div class="row m-3 left-container">
    <div class="col-4" data-controller="modal">
      <div class="img-box container mb-5">

        <h3><%= @comparison.content_a.title %></h3>
        <%= image_tag @comparison.content_a.image_url,
        alt: @comparison.content_a.title,
        data: { 'large-src': @comparison.content_a.image_url, action: 'click->modal#show' },
        class: 'clickable-thumbnail' %>

      </div>

      <div class="img-box container">
        <h3><%= @comparison.content_b.title %></h3>
        <%= image_tag @comparison.content_b.image_url,
        alt: @comparison.content_b.title,
        data: { 'large-src': @comparison.content_b.image_url, action: 'click->modal#show' },
        class: 'clickable-thumbnail' %>
      </div>

      <div id="myModal" class="content-modal hidden"
        data-modal-target="modal"
        data-action="click->modal#hide"> <span class="close" data-action="click->modal#hide">&times;</span>
        <img class="modal-content" data-modal-target="image">
        <div id="caption" data-modal-target="caption"></div>
      </div>

    </div>


    <div class="col-7">
      <div class="right-div">
        <h1>Result</h1>
        <% result = @comparison.ai_result.to_s %>
        <%= raw(render_markdown(result)) %>
      </div>
    </div>
  </div>

  <div id="button" class="text-center mt-4">
    <%= link_to "New Search", root_path, class: "btn btn-outline-secondary btn-lg" %>
  </div>
</div>
