<!DOCTYPE html>
<html>
  <head>
    <title>TheComparator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# might need to be in the body. idk %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
      <nav class="col-md-2 sidebar pt-3 bg-light">
        <%= render "shared/sidebar", comparisons: @recent_comparisons %>
      </nav>
        <div class="col-md-10 my-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
