<!DOCTYPE html>
<html>
  <head>
    <title>TheComparator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% require "kramdown" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# might need to be in the body. idk %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" data-controller="toggle">
       <% if user_signed_in? %>
      <nav id="sidebar" class="col-md-2 sidebar pt-3 bg-light" data-toggle-target="hideable"><h3>Recent Results</h3>
        <%= render "shared/sidebar", comparisons: @recent_comparisons %>
      </nav>
      <% end %>
        <div class="col-md-10 my-4">
          <div class="d-flex gap-3">
            <%= link_to "#", class: "d-none nav-link text-light",
              data: {action: "click->toggle#call", toggle_target: "show"} do %>
              <i class="fa-regular fa-square-caret-right"></i>
            <% end %>
            <%= link_to "#", class: "nav-link text-light", data: { action: "click->toggle#call" } do %>
              <i class="fa-regular fa-square-caret-left"></i>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
