<!DOCTYPE html>
<html>
  <head>
    <title>TheComparator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# might need to be in the body. idk %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" data-controller="toggle">
      <nav class="col-md-2 sidebar pt-3 bg-light" data-toggle-target="hideable"><h3>Recent Results</h3>
        <%= render "shared/sidebar", comparisons: @recent_comparisons %>
      </nav>
        <div class="col-md-10 my-4">
           <%= link_to "#", class: "d-none nav-link text-dark",
              data: {action: "click->toggle#call", toggle_target: "show"} do %>
             <i class="fa-regular fa-square-caret-right"></i>
            <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
